:root {
    --main-bg-color: #5b6370;
    --title-bar-color: #545b66;
    --board-light-tile: #efe9de;
    --board-dark-tile: #a58448;
    --text-color: #FFFFFF;
    --icon-primary: #a7a7a7;
    --icon-hover: #cfcfcf;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont,
    “Segoe UI”, “Roboto”, “Oxygen”,
    “Ubuntu”, “Cantarell”, “Fira Sans”,
    “Droid Sans”, “Helvetica Neue”, sans-serif;
    display: grid;
    grid-template-rows: 37px 1fr;
    grid-auto-columns: 420px 1fr;
}
#title-bar {
    grid-row: 1;
    grid-column: 1;
    background-color: var(--title-bar-color);
    width: 100%;
    position: absolute;
    top: 0;
    display: block;
    height: 37px;
    -webkit-app-region: drag;
}
#chess-board {
    grid-row: 2;
    grid-column: 1;
    width: 400px;
    height: 416px;
    min-width: 400px;
    min-height: 416px;
    margin-top: 10px;
    margin-left: 5px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 16px repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr) 16px;
}
#preference-icon {
    grid-column: 2;
    grid-row: 2;
    background-color: var(--icon-primary);
    -webkit-mask: url(icons/icon-cog.svg) no-repeat center;
    mask: url(icons/icon-cog.svg) no-repeat center;
    height: 20px;
    width: 20px;
    margin-top: 10px;
    margin-left: 10px;
}
#preference-icon:hover {
    background-color: var(--icon-hover);
    cursor: pointer;
}
.piece {
    width: 50px;
    height: 50px;
    display: block;
}
.black-tile {
    background-color: var(--board-dark-tile);
    display: flex;
    justify-content: center;
    align-items: center;
}
.white-tile {
    background-color: var(--board-light-tile);
    display: flex;
    justify-content: center;
    align-items: center;
}
.notation-bar {
    color: var(--board-light-tile);
    text-align: center;
    align-self: center;
}
.left {
    margin-right: 5px;
}
.bottom {
    margin-top: 7px;
}
#corner-piece {
    grid-column: 1;
    grid-row: 9;
}
.popup-window {
    display: none;
}
#preferences {
    background-color: var(--title-bar-color);
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 180px;
    width: 230px;
    border-radius: 5px;
}
#theme-wrapper {
    display: grid;
    grid-template-columns: 110px 110px;
    margin-left: 10px;
    margin-top: 5px;
}
.theme-display {
    display: grid;
    grid-template-columns: 50px 50px;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    margin-top: 5px;
    background-color: var(--main-bg-color);
}
#popup-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(43, 43, 43, 0.603);
    display: none;
    position: absolute;
}
#green-circle-wrapper {
    display: none;
}